*{
 margin: 0;
 padding: 0;
}
.Ball{
    width: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: #f1f1f1;
}
header div:first-child {
    display: flex; 
    align-items: center;
    font-size:20px; 
}
.Shah {
    color: #006762; 
}
header div:nth-child(2) {
    justify-content: center;
}
header div:last-child {
    justify-content: flex-end;
}
header nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #272837;
}
header nav :hover {
    color: #6851db; 
}
header div:last-child a {
    border: 2px solid #947FF8; /* Borde violeta */
    padding: 15px 17px;
    border-radius: 5px;
    color: #6851db ;
}
.hero {
    display: flex;
    align-items: center;
    background-color: #F4FCFF; /* Ajusta el fondo verde */
}
.hero div:first-child {
    flex: 1; /* Hace que este div ocupe el 50% del ancho */
    padding-left: 20px; 
    margin-bottom: 100px;
}
.hero div:last-child {
    flex: 1; /* Hace que este div ocupe el 50% del ancho */
    padding-left: 20px; 
}
.hero img {
    max-width:  90%; 
    margin-left: 60px; /* Ajusta el espacio entre la imagen y el borde izquierdo */
    margin-right: 20px;
    margin-top: 150px;
}
.hero h3 {
    margin-top: 60px; 
    margin-bottom: 10px; 
    margin-left: 40px;
    font-size: 17px;
}
.hero h1 {
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 40px;
    font-size: 60px;
}
.hero p {
    margin-left: 40px;
    font-size: 20px;
    margin-bottom: 60px;
    color: #222550;
}
.hero a {
    display: inline-block;
    background-color:#5E3BEF;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 40px;
    margin-top: 0;
}
.hero a:hover {
    background-color: black; 
}
.skills {
    background-color: #f9f9f9; 
}
.skills .title-container {
    text-align: left;
    margin-left: 65px;
    margin-top: 110px;
    margin-bottom: 100px;
}
.skills .title-container > h4 {
    margin-bottom: 20px;
    font-size: 15px;
}
.skills .title-container > h1 {
    margin-bottom: 20px;
    font-size: 45px;
}
.skills .skills-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 13px; 
    width: 100%; 
    max-width: 1200px; /* OJO, justar este valor para el máximo deseado */
    margin: 0 auto; 
}
.skills .skills-container > div {
    background-color: #F4FCFF;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: left; 
    flex: 1 1 calc(25% - 10px); /* Cada elemento ocupa el 25% del ancho */
    max-width: calc(25% - 10px); /* Con esto nos aseguramos que no crezca más allá del 25% del contenedor */
    box-sizing: border-box; /* Sirve para incluir el padding y borde en el tamaño total del elemento */
    min-height: 290px; /* OJO, justar este valor para la altura minima de los div que quiero.*/
}
.skills .skills-container > div:nth-child(-n+4) {
    margin-bottom: 60px;
}
.skills .skills-container > div:hover {
    border-bottom: 3px solid #5330EC; 
}
.skills .skills-container > div:hover h2 {
    color: #222550;
}
.skills .skills-container > div:hover p {
    color: #222550;
}
.skills img {
    width: 60px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.skills h2 {
    margin-bottom: 19px;
    font-size: 23px;
}
.skills p {
    font-size: 18px;
}
.About {
    display: flex; 
    margin-top: 200px;
    margin-bottom: 130px;
}
.About > div {
    flex: 1; 
    padding: 20px; 
}
.About img {
    width: 100%;
}
.About h3 {
    margin-top: 150px; 
    margin-bottom: 10px; 
    margin-left: 20px;
    font-size: 17px;
}
.About h1 {
    margin-top: 10px;
    margin-bottom: 23px; 
    margin-left: 20px;
    font-size: 47px;
}
.About p {
    margin-left: 20px;
    font-size: 19px;
    margin-right: 25px;
    margin-bottom: 60px;
    color: #222550;
    line-height: 1.2;
}
.About img {
    width: 600px;
}
.titleandlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    margin-left: 25px; 
    margin-right: 20px;
}
.title-projects {
    text-align: left;
    margin-left: 30px; 
}
.title-projects h2 {
    margin: 0;
    font-size: 18px; /* Tamaño de fuente aumentado para h2 */
    margin-bottom: 20px;
    color: #282A37;
}
.title-projects h3 {
    margin: 0;
    font-size: 45px; /* Tamaño de fuente aumentado para h3 */
    color: #282A37;
}
.github-link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F7CDDC; 
    font-weight: bold;
    background-color: #E62872; 
    padding: 15px 18px; /* Ajuste de espaciado interno */
    border-radius: 7px; 
    margin-right: 30px;
}
.github-link img {
    width: 25px;
    margin-right: 5px;
    filter: brightness(0) invert(1); /* Invierte el color del logo a blanco */
}
.Projects {
    display: flex;
    justify-content: space-around; /* Ajusta el espacio entre los divs */
    flex-wrap: wrap; /* Permite que los divs se envuelvan en líneas */
    text-align: left;
    margin-bottom: 130px; 
    margin-left: 40px; 
    margin-right: 8px;
}

.Projects h2 {
    margin-top: 22px; /* Añade espacio entre la imagen y el título */
    margin-left: 30px;
    margin-bottom: 10px;
}

.Projects p {
    margin-left: 30px;
    margin-bottom: 10px;
    color: #222550;
    
}
.Projects a {
    margin-left: 30px; 
    display: inline-flex; 
    text-decoration: none;
    align-items: center; 
    border-bottom: 1px solid #8F78F2;
    color: #201F30;
    font-weight: bold; 
}
.Projects a img {
   width: 22px;
   margin-left: 5px;
   vertical-align: middle; /* Ajusta la alineación vertical de la flecha */
}
.Projects img{
   border-radius: 5px;
   width: 390px;
}
.Customers {
    background-color: #F4FCFF;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.Customers h2 {
    margin-top: 80px;
    margin-bottom: 19px;
    font-size: 18px ;
    margin-left: 50px;
    color: #282A37;
}
.Customers h3 {
    margin-bottom: 80px;
    font-size: 45px;
    margin-left: 50px;
    color: #282A37;
}
.customers-grid {
    display: flex;
    justify-content: space-between; 
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;

}
.customers-grid > div {
    border: 1px solid #1C634C;
    border-radius: 7px; 
    padding: 30px; 
}
.star{
    width: 20px;
}
.Customers p {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #222550;
    line-height: 1.2;
    font-size: 17px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    max-width: 740px;
    border-radius: 10px;
    gap: 20px;
}

form h1 {
    grid-column: span 2;
    text-align: center;
    color: #1A1B2C ;
    font-size: 40px;
}

form h3 {
    grid-column: span 2;
    text-align: center;
    margin-top: 100px;
    color: #1A1B2C ;
    font-size: 20px;
}

form p {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 15px;
    color: #222550;
    line-height: 1.2;
    font-size: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #8F79F5;
}

.form-full {
    grid-column: span 2;
    
}

.form-full label {
    display: block;
    text-align: left; /* Alineación del texto a la izquierda */
}

.form-full input, 
.form-full select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #8F79F5; 
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 10px;
}
input[type="submit"] {
    background-color: #8F79F5 ; /* Background color violet */
    color: white;
    border: 2px solid #8F79F5; 
    cursor: pointer;
    width: auto; 
    padding: 12px 30px; /* Adjust padding for a smaller button */
    font-size: 17px; /* Adjust font size for a smaller button */
    margin-top: 10px;
    margin-left: 310px;
}

input[type="submit"]:hover {
    background-color: #5a1478; 
}
.form-full  .message-input {
   height: 200px;
}
